.the-title {
    text-align: center;
    font-weight: bold;
}
h2 {
    font-weight: bold !important;
    padding: 0 4px 0 3px;
}
.my-text {
    font-family: Georgia;
}
span {
    font-size: 18px;
}
.bg {
    background: rgb(148, 123, 90);
}
/* .mark */
.mark {
    background: rgb(133, 82, 82)!important;
    color: rgb(255, 174, 0)!important;
    text-shadow: 0 2px #2e1b1b;
    padding: inherit !important;
    margin: inherit !important;  
    font-size: inherit;
    border-radius: 4px;
}
/* Modal */
.modal-content {
    background: rgb(121, 105, 81)!important;
    font-family: 'Courier New', monospace;
}
.modal-image {
    border: 3px groove rgb(56, 47, 30);
    padding: none !important;
    width: 240px!important;
    margin-right: 5px;
    margin-left: 8px;
    margin-top: 7px;
    height: 135px;
}
.modal-body { 
    align-items: flex-start; 
    padding: 1px!important;
}
.modal-body p { 
    padding: 1px!important;
    margin: 2px;
}
.modal-header{
    padding: 10px !important;
}
.modal-header, .modal-footer {
    border-color: rgb(108, 91, 62) !important;
}
.modal-footer {
    border-top: 1px solid rgb(108, 91, 62)!important;
}
/* Table */
table {
    background: rgb(202, 189, 166);
    border-collapse: collapse;
    height: 100vh;
}
table,
th,
td {
    border: 2px solid black!important;
    text-align: center;
    padding: 15px;
}
th,
td {
    text-align: center;
    padding: 10px;
}
.table-header {
    font-family: 'Courier New';
    font-size: 20px;

}
.table-body {
    font-family: 'Courier New', monospace;
    font-size: 18px;
}
.table-image {
    transition: transform 0.2s ease-in-out, outline 0.2s, opacity 0.2s;
    height: 140px;
    width: 250px;
    max-height: 140px;
    max-width: 250px;
}
.table-image:hover {
    outline: 4px solid rgba(0, 0, 0, 0.719);
    transform: scale(1.05);
    cursor: pointer;
    opacity: 0.75;
}
.table-image:not(:hover) {
    transition: transform 0.75s ease-in-out, outline 1s, opacity 0.8s;
    outline: 4px solid transparent;
    opacity: 1;
}
.table-responsive {
    max-height: 69vh;
    overflow-y: auto;
}
.table-responsive::-webkit-scrollbar {
    width: 12px;
}
.table-responsive::-webkit-scrollbar-track {
    border: 1px solid #0000009f;
    background: #6c5b3e9f;
    border-left: none;
}
.table-responsive::-webkit-scrollbar-thumb {
    border: 1px solid #0000009f;
    background: #463b289f;
    border-left: none;
}
.table-responsive::-webkit-scrollbar-thumb:hover {
    background: #463b28c7;
}  
/* Card */
.card {
    transition: transform 0.2s ease-in-out, outline 0.2s, opacity 0.2s;
    border: 4px groove rgb(49, 43, 26)!important;
    background: rgb(56, 47, 33)!important;
    font-family: 'Courier New', monospace;
    flex: 1 1 calc(25% - 20px);
    color: white !important;
    margin: 10px;
}
.card:hover {
    border: 4px double rgba(224, 191, 0, 0.63)!important;
    outline: 5px solid rgba(0, 0, 0, 0.295);
    transform: translateY(3px);
    color: yellow!important;
    opacity: 0.8;
}
.card:not(:hover) {
    transition: transform 0.75s ease-in-out, outline 1s, opacity 0.8s;
    outline: 5px solid transparent;
    opacity: 1;
}
.card-container {
    justify-content: flex-start;
    flex-wrap: wrap; 
    display: flex;
}
.card-image {
    height: 170px;
    width: 100%;
}
.card-responsive {
    overflow-x: hidden;
    overflow-y: auto;
    height: 73vh;
}
.card-responsive::-webkit-scrollbar {
    width: 12px;
}
.card-responsive::-webkit-scrollbar-track {
    border: 1px solid #5c4e00;
    background: #6e6453;
    border-radius: 6px;
}
.card-responsive::-webkit-scrollbar-thumb {
    border: 1px solid #4b442f;
    background: #4d463d;
    border-radius: 6px;
}
.card-responsive::-webkit-scrollbar-thumb:hover {
    background: #524836c7;
}  
/* Rant about guns (for Home) */
.rant {
    text-shadow: 0 0 2px #c0c0c0, 0 0 5px #ffdcdc;
    font-family: 'Courier New', Courier, monospace; 
    background-image: url("/home-bg.png");
    background-position: center;
    background-size: cover;
    border: 1px solid;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    padding: 15px;
}
.rant-responsive {
    overflow-x: hidden;
    max-height: 68vh;
    overflow-y: auto;
}
.rant-responsive::-webkit-scrollbar {
    width: 12px;
}
.rant-responsive::-webkit-scrollbar-track {
    border: 1px solid #000000;
    background: #7a7a7ac7;
}
.rant-responsive::-webkit-scrollbar-thumb {
    border: 1px solid #000000;
    background: #4f8daa;
}
.rant-responsive::-webkit-scrollbar-thumb:hover {
    background: #276a91c7;
} 
.rant h2 {
    color: #006909;
}
.rant p {
    color: #000000;
    line-height: 1.6;
}
